/* main.css */
/*for login & signup*/
body { 
        font-size:20pt; 
        font-family: Arial, Helvetica, sans-serif; 
        background-color: blanchedalmond; 
        text-align : center;
    }


.flex-container{
    display : flex;
    width : 1020px;
    margin : auto;
    flex-direction : column;
}

h1 {  
    font-size:30pt;
    color : rgb(250, 178, 44);
    text-shadow: 5px 5px 5px rgb(255, 255, 141);  
    text-align : left;
}

p{ 
        font-size:12pt; 
    }



.required { 
        color:chocolate 
    }

.signup {
        background-color: rgb(165, 216, 216);
}

.cancel {
        background-color: rgb(187, 207, 153);
}

.banner {
        color:black;
        font-size: 15px
}

.inputbox{
        border : 3px solid rgb(255, 199, 17); 
        padding: 5px;
        background-color: white;
        width: 250px;
        height: 300px;
        text-align: center;
        margin: auto;
}

/*for index*/
.slidingHeader{
    position : relative;
    animation : sliding 2s 1 linear;
}

@keyframes sliding{
    from{top : 0px; left : 1020px; }
    to{top : 0px; left : 0px};
}

img{
    transition: transform 2s;
}

img:hover{
    transform : scale(1.5,1.5);
}

.imgbox{
    display : flex;
    border : 3px solid rgb(255, 199, 17);
    width : 300px;
    height : 200px;
    margin : auto;
    padding : 0;
    justify-content: center;
    align-items : center;
}

.multicolumn{
    
    column-count : 2;
    column-gap : 20px;
    column-rule-width : 1px;
    column-rule-style : solid;
    column-rule-color : rgb(84, 84, 138);
    column-width : 400px;
    color : rgb(84, 84, 138);
    font-size : 12px;
}

.blue {
    color : rgb(84, 84, 138);
}